<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <h1> Đăng nhập</h1>
    </div>
    <form th:action="@{/process_login}" method="post"
          style="max-width: 600px; margin: 0 auto"
          th:object="${user}">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Username:</label>
                <div class="col-8">
                    <input type="text" class="form-control" name="username" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Password:</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="password" th:field="*{password}"/>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </form>
<!--    <div th:if="${user.size()} > 0"-->
<!--         style="width:1200px; margin:auto;border: solid 1px gray;border-radius: 5px;margin-top: 10px;">-->
<!--        <h4 th:text="${existMatch}" style="margin: 5px;"/>-->
<!--        <ul>-->
<!--            <li th:each="list : ${list}">-->
<!--                <span th:text="*{list}"></span>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
</div>

</body>
</html>