*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
   body {
       background-color: #4B4747;
       height: 800px;
   }
   #regexValue,#testData{
       width: 100%;
       height: 35px;
   }

  
   .result{
       background-color: cornsilk;
       height: 525px;
       width: 100%;
       height: 78%;
   }