<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/caculator">
    a:<input type="text" name="a" value="1"></br>
    b:<input type="text" name="b" value="3"></br>
    <button type="submit">Add</button>
</form>
<div th:if="${sum} != null">
    <p th:text="'Sum: ' + ${sum}"/>
</div>
</body>
</html>