<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form method="get" action="/calculator">
    a:
    <input type="number" name="a" value="5"/>
    </br>
    b:
    <input type="number" name="b" value="6"/>
    </br>
    <button type="submit">add</button>
</form>

<div th:if="${sum} != null">
    <p th:text="'Sum: ' + ${sum}"/>
</div>

<ul>
    <!--Duyệt qua toàn bộ phần tử trong biến "lodaProfile"-->
    <li th:each="student : ${students}">
        <!--Với mỗi phần tử, lấy ra key và value-->
        <span th:text="*{student.name}"></span> : <span th:text="*{student.age}"></span>
    </li>
</ul>

</body>
</html>