<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME - HOME PAGE</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <h1>Welcom ABC</h1>
    </div>
    <div>
        <h3>
            <a th:href="@{/register}">Sign up</a>
        </h3>
    </div>
</body>
</html>