<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Successfully registered</title>
</head>
<body>
    <div class="container text-center">
        <div>
            <h3>You've successfully registered to our awesome app!</h3>
            <h4>
                <a th:href="@{/login}">CLick here to login</a>
            </h4>
        </div>
    </div>
</body>
</html>