<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration - Sign up</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container text-center">
        <div>
            <h3>You have signed up succesfully!</h3>
            <h4>
                <a th:href="@{/login}">Click here to login</a>
            </h4>
        </div>
    </div>
</body>
</html>