<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#regexValue').change('input', function (e) {
            var regex = $('#regexValue').val();
            var testData = $('#testData').val();
            if (regex != '') {
                window.location.replace('index2?regexValue=' + encodeURIComponent(regex) + '&testData=' + encodeURIComponent(testData));
            }
        });
        $("#testData").change(function () {
            var testData = $('#testData').val();
            var regex = $('#regexValue').val();
            if (testData != '') {
                window.location.replace('index2?regexValue=' + encodeURIComponent(regex) + '&testData=' + encodeURIComponent(testData));
            }
        });
    });
</script>

<form method="get" action="/calculator">
    Form:
    </br>
    Regex:
    </br>
    <input type="text" id="regexValue" name="regexValue" value="[abc]"/>
    </br>
    Test data:
    </br>
    <input type="text" id="testData" name="testData" value="abc2124abc"/>
    </br>
</form>
</br>
Result:
<h4 th:text="${existMatch}"/>
</br>
<div th:if="${list.size()} > 0">
    <ul>
        <li th:each="list : ${list}">
            <span th:text="*{list}"></span> : <span th:text="*{list}"></span>
        </li>
    </ul>
</div>


</body>
</html>
