<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="text" name = "a" value="5"><br>
<input type="number" name = "b" value="6"><br>
<button type = "submit">add</button>
</form>
<div th:if="${sum} != null">
    <p th:text="'sum2: '+ ${sum}"></p>
</div>
</body>
</html>