<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#regexValue').change('input', function (e) {
            var regex = $('#regexValue').val();
            var testData = $('#testData').val();
            if (regex != '') {
                window.location.replace('index?regexValue=' + encodeURIComponent(regex) + '&testData=' + encodeURIComponent(testData));
            }
        });
        $("#testData").change(function () {
            var testData = $('#testData').val();
            var regex = $('#regexValue').val();
            if (testData != '') {
                window.location.replace('index?regexValue=' + encodeURIComponent(regex) + '&testData=' + encodeURIComponent(testData));
            }
        });
    });
</script>
<div class="row">
    <img src="../static/regexpng.JPG" style="width: 100%;" alt="">
</div>
<div class="row">
    <div class="col-sm-3">
        <img src="css/regex2.JPG" alt="" style="width:100%;height: 100%;">
    </div>

    <div class="col-sm-5">
        <div>
            <b style="color:#B6AEAE;">REGULAR EXPRESSION</b>
        </div>

        <div>
            <input type="text" id="regexValue" name="regexValue" value="[abcd]"/>
        </div>

        <div style="padding-top: 20px;">
            <b style="color:#B6AEAE;">TEST STRING</b>
        </div>

        <div >
            <input type="text" id="testData" name="testData" value="abc21abced"/>
        </div>

        <div style="padding-top: 20px;">
            <b style="color:#B6AEAE;">RESULT: </b>
            <b th:text="${existMatch}"></b>
        </div>

        <div class="result">
            <div th:if="${list.size()} > 0">
                <ul>
                    <li th:each="list : ${list}">
                        <span th:text="*{list}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="css/regex3.JPG" alt="" style="width:100%;height: 100%;">
    </div>
</div>
</body>
</html>